:root {
  --main-color: #ddd;
}

* {
  font-family: sans-serif;
  font-weight: 400;
}

h3 {
  width: 30%;
  margin: auto;
}

p {
  padding: 5px 15px;
}

cite {
  font-weight: bold;
  padding: 0px 10px;
  width: 120px;
  display: inline-block;
}

.name-tag {
  position: absolute !important;
  top: 20px;
  left: calc(100vw*0.65 - 545px);
  font-size: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 95vw;
  max-height: calc(100vh - 80px);
  border-radius: 16px;
  background: #FFFFFF;
  z-index: 4;
}

 .meteo {
  width: 260px;
  height: 500px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px;
  left: 10px;
  background: #FFFFFF;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.today {
  display: flex;
  flex-direction: column;
}

.scroll {
  flex: 1;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Style for Firefox */
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  /* Color of the scrollbar thumb and track */
}

.record-label {
  margin-left: 5px;
  display: flex;
  justify-content: flex-end;
}

.record-value {
  text-align: left;
  margin-left: 10px;
}

.arrow {
  display: inline-block;
}

.dash {
  border-bottom: 1px black solid;
  width: 60%;
  margin: 7px auto;
}

.wide {
  width: 90%;
  margin: 15px auto;
}

.record {
  display: flex;
  padding: 1px;
}

.name {
  grid-area: name-area;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 0px;
}

.contacts {
  grid-area: contacts-area;
  font-size: 12px;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 15px 0px;
}

.photo {
  grid-area: photo-area;
  background-color: var(--main-color);
  width: 180px;
  border-radius: 20px;
  margin: auto
}

.skills {
  grid-area: skills-area;
  background-color: var(--main-color);
  margin-top: 80px;
  border-radius: 20px;
  padding: 15px 0px;
}

.skills-list {
  width: 66%;
  margin: auto;
  line-height: 40px;
}

.education {
  grid-area: education-area;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 15px 0px;
}

.experience {
  grid-area: experience-area;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 15px 0px;
}

.languages {
  grid-area: languages-area;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 15px 0px;
}

.grid {
  background-color: rgb(244, 244, 253);
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  gap: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "photo-area name-area"
    "photo-area skills-area "
    "contacts-area  experience-area"
    "contacts-area education-area"
    "contacts-area languages-area";
  position: relative;
  z-index: 5;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 95vh;
}

.icon {
  font-size: medium;
  width: 25px;
  height: 25px;
  color: black
}

.pointer {
  cursor: pointer;
}

.copy-icon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 2px;
}

.close-icon {
  position: absolute;
  width: 30px;
  cursor: pointer;
  top: 14px;
  left: 790px;
  left: 14px;
}

.relative {
  position: relative
}

.radiobox {
  position: absolute;
  font-size: 20px;
  width: 260px;
  top: 20px;
  left: 65%;
  border-radius: 11px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FFFFFF;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  z-index: 3;
}

.button {
  display: flex;
  justify-content: center;
  padding: 12px;
  width: 180px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.blue-bkgr {
  color: #FFFFFF;
  background: linear-gradient(39.06deg, #8559F3 8.58%, #657BEA 17.79%, #34B0DC 46.68%, #15D1D3 72.63%, #09DDD0 88.95%) !important;
}

.white-bkgr {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.fd-column {
  flex-direction: column;
}

.al-center {
  align-items: center;
}

.grow1 {
  flex-grow: 1
}

.grow7 {
  flex-grow: 7
}

.wheather-line {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr 2fr 1fr;
  gap: 3px;
  text-align: center;
}

.first {
  grid-column: 1;
}

.second {
  grid-column: 2;
}

.third {
  grid-column: 3;
}

.fourth {
  grid-column: 4;
}

.fifth {
  grid-column: 5;
}

.sixth {
  grid-column: 6;
}

.color-white {
  color: white
}

.thin-divider {
  border-bottom: #ccc solid 1px;
  width: 100%;
}

@media (max-width: 800px) {
  .radiobox {
    position: absolute !important;
    left: 50%;
  }
  .name-tag {
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
    top: 225px;
    max-height: calc(100vh - 230px);
    max-width: 500px;
    width: 88vw;
    overflow-y: scroll;
  }
}

@media (max-width: 460px) {
  .radiobox {
    left: 10%;
  }
  .button {
    padding: 10px;
    width: 140px;
    font-size: 12px;
  }
  .bud {
    padding: 10px;
    width: 140px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: none;
    grid-template-areas: none;
  }
  .name {
    width: 100%
  }
  .languages {
    width: 100%
  }
  .skills {
    margin-top: 10px;
  }
  .photo {
    margin: auto auto 0 auto;
  }
}

@media (max-width: 430px) {
  .photo {
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .contacts {
    width: 100%;
  }
}