:root {
  --main-color: #ddd;
  --front-color: #4880f0;
}

.name-tag {
  position: absolute;
  top: 30%;
  left: 70%;
  font-size: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.header {
  /* background-color: #4880f0; */
 background-image:  linear-gradient(to bottom, #4b6cb7 10%, #182848 90%);

  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

@keyframes Header-flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.flip-card {
  width: 300px;
  height: 200px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: Header-flip infinite 3s linear;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  transform: scaleX(-1);
}

.flip-card-back {
  transform: rotateY(180deg);
}

cite {
  font-weight: bold;
  padding: 0px 10px;
  width: 120px;
  display: inline-block;
}

h3 {
  width: 30%;
  margin: auto;
}

p {
  margin: 3px 0px 3px 0px;
}

.dash {
  border-bottom: 1px black solid;
  width: 60%;
  height: 10px;
  margin: auto
}

.record {
  display: flex;
}

.name {
  grid-area: name-area;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 20px;
  margin-top: 20px;
}

.contacts {
  grid-area: contacts-area;
  font-size: 12px;
  background-color: var(--main-color);
  border-radius: 20px;
}

.photo {
  grid-area: photo-area;
  background-color: var(--main-color);
  width: 180px;
  border-radius: 20px;
  margin: auto
}

.skills {
  grid-area: skills-area;
  background-color: var(--main-color);
  margin-top: 80px;
  border-radius: 20px;
}

.skills-list {
  width: 80%;
  margin: auto;
}

.education {
  grid-area: education-area;
  background-color: var(--main-color);
  border-radius: 20px;
}

.experience {
  grid-area: experience-area;
  background-color: var(--main-color);
  border-radius: 20px;
}

.languages {
  grid-area: languages-area;
  background-color: var(--main-color);
  border-radius: 20px;
}

.grid {
  background-color: rgb(244, 244, 253);
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  gap: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "photo-area name-area"
    "photo-area skills-area "
    "contacts-area education-area"
    "contacts-area  experience-area"
    "contacts-area languages-area";
    position: relative
}

.icon {
  font-size: medium;
  margin: 10px 10px;
}

.allover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.radiobox {
  position: absolute;
  font-size: 18px;
  width: 260px;
 z-index: 0;
  top: 120px;
  left: 300px;
  border-radius: 11px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FFFFFF;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.invisible{
  display: none;
}
.box-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
  margin-top: -10px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #473F4E;
}
.close-icon {
  position: absolute;
  width: 30px;
  cursor: pointer;
  top: 14px;
  /* right: 10px; */
  left: 790px;
  right: 10px;
}
.radio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px ;
  width: 160px ;
  background: radial-gradient( circle farthest-corner at 10% 20%, rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% ) !important;

  border-radius: 32px !important;

  /* width: 200px !important; */
  height: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  
  line-height: 24px ;
  color: #FFFFFF !important;
  cursor: pointer;
}

.radio-button input {
  width: 15px;
}

.radio-button p {
  margin: 5px 1px 5px 7px;
}

.invalid {
  background-color: rgb(255, 225, 215);
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.indigo {
  background-color: indigo;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}

.hidden {
  overflow: hidden;
}

.track {
  width: 200px;
  top: 180px;
  left: 100px;
  height: 4px;
  background-color: var(--main-color);
  margin: auto;
  position: relative;
}

.marker {
  height: 4px;
  background-color: red;
}

.replacing {
  width: 200px;
  top: 160px;
  left: 100px;
  height: 20px;
  margin: auto;
  position: relative;
}